/* css comment */
#search-the-web {
    border-radius: 9999px;
        padding-top: 0.75em;
        padding-bottom: 0.75em;
        border-width: 0.125em;
        border-color: gray;
        border-style: solid;
        display: block;
        margin-left: auto;
        margin-right: auto;
        outline: none;
}

.input-reset{
  -webkit-appearance: none;
  -moz-appearance: none;
}

.input-icons i { 
            position: absolute; 
            margin-left:1230px;
        } 
          
        .input-icons { 
            width: 100%; 
            margin-bottom: 10px; 
        } 
          
        .icon { 
            padding: 10px; 
            min-width: 40px; 
        } 
          
        .input-field { 
            width: 50%;
                padding: 10px;
                text-align: left;
        } 


#google-logo {
    margin-left: auto;
    margin-right: auto;
    padding-top: 300px;
    padding-bottom:10px;
    display: block;
}

#gsearch, {
	margin-left: auto;
	margin-right: auto;
}

.flexbtns {
    display: flex;
    justify-content: center;
    flex-direction: row;
}
